<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <link
      href='https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css'
      rel='stylesheet'
    />
    <script
      src='https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js'
    ></script>
    <title>{{title}}</title>
  </head>
  <body>
    <nav class='navbar navbar-expand-lg bg-dark navbar-dark'>
      <div class='container-fluid'>
        <a class='navbar-brand' href='/'>Yash's Blogs</a>
        <button
          class='navbar-toggler'
          type='button'
          data-bs-toggle='collapse'
          data-bs-target='#navbarTogglerDemo02'
          aria-controls='navbarTogglerDemo02'
          aria-expanded='false'
          aria-label='Toggle navigation'
        >
          <span class='navbar-toggler-icon'></span>
        </button>
        <div class='collapse navbar-collapse' id='navbarTogglerDemo02'>
          <ul class='navbar-nav me-auto mb-2 mb-lg-0'>
            <li class='nav-item'>
              <a class='nav-link active , text-info' aria-current='page' href='/'>Home</a>
            </li>
          </ul>
          <ul class='navbar-nav mb-2 mb-lg-0 d-flex'>
            <li class='nav-item'>
              <a class='nav-link' href='/blogs'>articles</a>
            </li>
            <li class='nav-item'>
              <form action='/auth/logout' method='post'>
                <button class='nav-link btn' type='submit'>logged off</button>
              </form>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <main>
      <br />
      {{#if isAdmin}}
     <style>
    body {
  background-color: black;
}
   </style>
        <h1 class='text-center , text-info'>Admin page</h1>
      {{else}}
       <style>
    body {
  background-color: black;
}
   </style>
        <h1 class='text-center , text-info'>User page</h1>
      {{/if}}
      <hr />
      <br />
      <h2 class='text-center , text-info'>
        hella!
        {{user.firstName}}
        {{user.lastName}}
        
      </h2>
      <h3 class='text-center , text-info'>
        {{user.email}}
      </h3>
    </main>
    <br />
    {{#if isAdmin}}
      <div class='container'>
        {{#if edit}}
        <form action='/posts/edit' method='post'>
        {{else}}
        <form action='/posts' method='post'>
        {{/if}}
          <div class='mb-3'>
            <label for='title' class='form-label , text-info'>Title</label>
            <input
              type='text'
              class='form-control'
              id='title'
              placeholder='Blog Title'
              name='title'
              value='{{blog.title}}'
              required
            />
          </div>
          <div class='mb-3'>
            <label for='content' class='form-label , text-info'>Content</label>
            <textarea
              class='form-control'
              id='content'
              rows='3'
              name='content'
              required
            >{{blog.content}}</textarea>
          </div>
          {{#if edit}}
          <input type="hidden" name="id" value="{{blog._id}}">
          <button type='submit' class='btn btn-primary'>submit</button>
          {{else}}
          <button type='submit' class='btn btn-primary'>create blog</button>
          {{/if}}
        </form>
      </div>
      <div class='container'>
        <br />
        {{#each posts}}
          <div class='card'>
            <div class='card-body'>
              <h5 class='card-title'>{{this.title}}</h5>
              <p class='card-text'>{{this.content}}</p>
            </div>
            <div class='container d-flex'>
              <form action='/posts/delete' method='post'>
                <input type='hidden' name='id' value='{{this._id}}' />
                <button type='submit' class='btn btn-danger'>Delete</button>
              </form>
              &nbsp;&nbsp;&nbsp;
              <form action='/posts/edit' method='get'>
                <input type='hidden' name='id' value='{{this._id}}' />
                <button type='submit' class='btn btn-warning'>Edit</button>
              </form>
            </div>
          </div>
          <br />
        {{/each}}
      </div>
    {{/if}}
  </body>
</html>